.s-list{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: rgb(78, 47, 255);
    font-size: 60px;
}
.my-table,tr ,th,td{
    border: 1px solid red;
    border-collapse: collapse;
}
.my-table{
    width: 600px;
    height: 800px ;
    margin: 40px auto;
    font-size: 20px;
}
td{
    text-align: center;
}
.totale{
    text-align: right;
   

}